<div class="container">
  <div class="flex flex-col justify-center sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-lg">
      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        About EndCoronaVirus.org
      </h2>
      <p class="mt-8 leading-5 text-gray-600 max-w" style="text-indent: 40px;">
        endCoronavirus.org is built and maintained by the New England Complex Systems Institute (NECSI) and collaborators.  Our goal is to minimize the impact of COVID-19 by providing useful data and guidelines for action.
      </p>
      
      <p class="mt-4 leading-5 text-gray-600 max-w" style="text-indent: 40px;">
        Our research team has co-faculty, students and affiliates from MIT, Harvard, Brandeis and other universities nationally and internationally. We are working around the clock to monitor and communicate the current state of the COVID-19 epidemic.
      </p>
      <p class="mt-4 leading-5 text-gray-600 max-w" style="text-indent: 40px;">
        We employ a range of mathematical tools designed for systems with many interacting components in which traditional statistical assumptions break down.
      </p>
      <p class="mt-4 leading-5 text-gray-600 max-w" style="text-indent: 40px;">
        We specialize in networks, agent-based modeling, multi-scale analysis, and complexity, and have applied our approaches to evolution, ecology, biodiversity, altruism, systems biology, cellular response, health care, systems engineering, negotiation, military conflict, ethnic violence, and international development.
      </p>
      <p class="mt-8 text-center leading-5 text-gray-600 max-w" style="text-indent: 40px;">
        The basis of this site was kindly provided by the team at 
        <%= link_to "https://helpwithcovid.com/", "https://github.com/helpwithcovid/covid-volunteers", class: 'text-indigo-500' %>
      </p>
    </div>

  </div>
</div>
