<footer>
  <div class="container px-5 py-7">
    <div class="flex justify-between text-sm text-gray-800">
      <div class="">
        <%= link_to "About EndCoronavirus", about_path, class: 'font-bold mr-6' %>
      </div>
    </div>
  </div>
</footer>
